/*------------ Global ------------*/
:root {
  --white: rgb(241, 241, 241);
  --orange: #da491c;
  --orange-light: #fa7d29;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

/*------------ Header ------------*/
header {
  width: 100%;
  text-align: center;
  padding: 0.4rem;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
  background-color: #BF360C;
}

header h1 {
  color: rgb(241, 241, 241);
  font-size: 2.8rem;
  font-weight: 300;
  font-family: 'Inter', serif;
}

/*------------ Container ------------*/
.container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background: linear-gradient( #FF7043, #741d03);
}

/*------------ Form ------------*/
form {
  background: var(--orange-light);

  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2rem;
  margin-top: 3%;
  border-radius: 0.5rem;
}

form label {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 600;
}

input {
  border: 0;
  outline: 0;
  margin: 5% 0px;
  padding: 8px;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

input:focus {
  box-shadow: inset 1px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

button {
  cursor: pointer;
  margin-top: 3%;
  border: 0;
  outline: 0;
  padding: 0.8rem;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  background: var(--orange);
  color: var(--white);
  transition: 0.3s ease-in-out;
}

button:hover {
  color: var(--orange);
  background: var(--white)
}

/*------------ Section ------------*/
.result-box {
  margin-top: 3%;
  background: var(--white);
  width: 40%;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  color: var(--orange)
}

.result-box h2 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 2% 0px;
}

.result-box span {
  font-size: 1.3rem;
  font-weight: 300;
}

/*------------ Button ------------*/
#btn-Restart {
  cursor: pointer;
  border: 0;
  outline: 0;
  background: var(--white);
  color: var(--orange);
  padding: 1rem;
  margin-top: 2%;
  font-size: 1.3rem;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease-in-out;

  display:none;
}

#btn-Restart:hover {
  background: var(--orange);
  color: var(--white)
}

/*------------ Squares ------------ */
body {
  overflow: hidden;
}

.squares li {
  width: 40px;
  height: 40px;
  background-color: rgb(255,255,255,0.15);
  display: block;
  position: absolute;
  bottom: -40px;
  animation: up 2s infinite alternate;  
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(0);
  }50% {
    opacity: 1;
  }to {
    opacity: 0;
    transform: translateY(-800px) rotate(960deg);
  }
}

/*------------ Footer ------------*/
footer p {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
  margin-top: 13%;
  display: flex;
  flex-direction: column;
}

footer .links {
  margin-top: 13px;
  display: flex;
  justify-content: space-around;
}

footer .links .github{
  color: #fff;
  font-size: 25px;
}

footer .links .github:hover{
  color: rgb(71, 0, 104);
  transition: 0.3s
}

footer .links .linkedin-end{
  color: #fff;
  font-size: 25px;
}

footer .links .linkedin-end:hover{
  color: rgb(16, 2, 94);
  transition: 0.3s
}